#root {

    background-color: #121212;
    color: white;
    padding-bottom: 30px;


    h2 {
        padding: 20px 0;
        text-align: center;
    }

    .card {

        flex-basis: calc(100% / 4 - 20px);
        /* flex-grow: 1; */

        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: #900C3F;
        border: 2px solid white;
        border-radius: 10px;
        overflow: hidden;

        img {
            /* width: 150px; */
            height: 250px;
            object-fit: cover;
        }

    }

    /* .card:last-child {
        flex-basis: 50%;
        flex-grow: 0;
    } */

    .act-description {

        padding: 0 10px 10px 10px;

        h3 {
            margin: 5px 0;
        }

        h4 {
            margin: 8px 0 2px 0;
        }

    }

}